body {
    margin-left: calc(50% - 720px);
    margin-right: calc(50% - 720px);
}

main {
    padding: 0px 80px 0px 80px;
}

#logo, .nav-item, h1, p, h2 {
    font-family: Roboto;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    color: #2A254B;
}

#logo, .nav-item, p {
    font-size: 20px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

.sep {
    margin-top: 100px;
}


#logo {
    color: #22202E;
}

.nav-item {
    color: #726E8D;
    white-space: nowrap;
    min-width: 0;
    /* position: relative; */
}


/* .nav-item::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

.nav-item:hover::before {
transform: scaleX(1);
} */

nav {
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    column-gap: 25%;
}


#brand {
    background: #2A254B url("/images/chair.png") no-repeat right / contain;
    margin: 25px 0px;
    padding: 60px 48% 60px 60px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.white {
    color: #ffffff;
}

.btn {
    border: none;
    padding: 16px 32px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    flex: auto;
    transition: 0.5s;
    /* display: block; */
    text-align: center;
}

.btn.primary:hover {
    /* box-shadow:0 0 20px #9186db; */
    background-color: #f9f9f965;
}

.btn.secondary:hover {
    /* box-shadow:0 0 20px #aaaaaa; */
    background-color: #CAC6DA;
}

.primary {
    color: #ffffff;
    background-color: #494465;
}

.secondary {
    color: #2A254B;
    background-color: #F9F9F9;
}

p.brand {
    margin-top: auto;
}

.shop-item .shop-item-preview {
    transition: 0.5s ease;
}

.shop-item .price {
    transition: 0.5s ease;
}

.shop-item .name {
    transition: 0.5s ease;
}

.shop {
    margin: 25px 0px;
    display: flex;
    gap: 40px 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop-btn {
    margin: auto;
}

#hist {
    margin-top: 100px;
    background: url("/images/sofa_white.png") no-repeat right / contain;
    height: 35vh;
    padding: 80px 50% 80px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#hist p {
    color: #505977;
}

#hist .hist {
    margin-top: auto;
}
